@model ProductDetailViewModel


<div id="site-main" class="site-main">
	<div id="main-content" class="main-content">
		<div id="primary" class="content-area">
			<div id="title" class="page-title">
				<div class="section-container">
					<div class="content-title-heading">
						<h1 class="text-title-heading">
							Bora Armchair
						</h1>
					</div>
					<div class="breadcrumbs">
						<a href="index.html">Home</a><span class="delimiter"></span><a href="shop-grid-left.html">Shop</a><span class="delimiter"></span>Bora Armchair
					</div>
				</div>
			</div>

			<div id="content" class="site-content" role="main">
				<div class="shop-details zoom" data-product_layout_thumb="scroll" data-zoom_scroll="true" data-zoom_contain_lens="true" data-zoomtype="inner" data-lenssize="200" data-lensshape="square" data-lensborder="" data-bordersize="2" data-bordercolour="#f9b61e" data-popup="false">
					<div class="product-top-info">
						<div class="section-padding">
							<div class="section-container p-l-r">
								<div class="row">
									<div class="product-images col-lg-7 col-md-12 col-12">
										<div class="row">
											<div class="col-md-2">
												<div class="content-thumbnail-scroll">
													<div class="image-thumbnail slick-carousel slick-vertical" data-asnavfor=".image-additional" data-centermode="true" data-focusonselect="true" data-columns4="5" data-columns3="4" data-columns2="4" data-columns1="4" data-columns="4" data-nav="true" data-vertical="&quot;true&quot;" data-verticalswiping="&quot;true&quot;">
														@foreach (var leftimg in Model.Product.Images)
														{
															<div class="img-item slick-slide">
																<span class="img-thumbnail-scroll">
																	<img width="600" height="600" src="~/uploads/products/@leftimg.ImageUrl" alt="">
																</span>
															</div>
														}
														
													</div>
												</div>
											</div>
											<div class="col-md-10">
												<div class="scroll-image main-image">
													<div class="image-additional slick-carousel" data-asnavfor=".image-thumbnail" data-fade="true" data-columns4="1" data-columns3="1" data-columns2="1" data-columns1="1" data-columns="1" data-nav="true">
														@foreach (var mainimg in Model.Product.Images)
														{
															<div class="img-item slick-slide">
																<img width="900" height="900" src="~/uploads/products/@mainimg.ImageUrl" alt="" title="">
															</div>
														}
														
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="product-info col-lg-5 col-md-12 col-12 ">
										<h1 class="title">@Model.Product.Name</h1>
										@if (Model.Product.DiscountPercent > 0)
										{	
											<span class="price">
												<del aria-hidden="true"><span>@Model.Product.SalePrice.ToString("0.00") $</span></del>
												<ins><span>@((Model.Product.SalePrice - ((@Model.Product.SalePrice * @Model.Product.DiscountPercent) / 100)).ToString("#.##")) $</span></ins>
											</span>
										}
										else
										{
											<span class="price">@Model.Product.SalePrice.ToString("0.00") $</span>

										}
										
										<div class="rating">
											<div class="star star-@Model.Product.Rate"></div>
											<div class="review-count">
												(@Model.Product.Comments.Count()<span> reviews</span>)
											</div>
										</div>
										<div class="description">
											<p>@Model.Product.Description</p>
										</div>
										<div class="variations">
											<table cellspacing="0">
												<tbody>
													<tr>
														<td class="label">Size</td>
														<td class="attributes">
															<ul class="text">
																@foreach (var size in Model.Product.Sizes)
																{
																	<li><span>@size.Size.Name</span></li>
																}
																
																
															</ul>
														</td>
													</tr>
													<tr>
														<td class="label">Color</td>
														<td class="attributes">
															<ul class="text">
																@foreach (var color in Model.Product.Colors)
																{
																	<li><span>@color.Color.Name</span></li>
																}


															</ul>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<form asp-action="addtobasket" method="get">
										<div class="buttons d-block">
											<div class="d-flex">
												<div class="add-to-cart-wrap">
													<div class="quantity">
														<button type="button" class="plus">+</button>
														<input type="number" class="qty" step="1" min="0" max="" name="count" value="1" title="Qty" size="4" placeholder="" inputmode="numeric" autocomplete="off">
														<button type="button" class="minus">-</button>
														<input type="hidden" value="true" name="detail">
														<input type="hidden" value="@Model.Product.Id" name="id">
													</div>
													<div class="btn-add-to-cart " style="background-color:black">
														<button type="submit" style="background-color:black; color:white;cursor:pointer;width:160px"   tabindex="0">Add to cart</button>
													</div>
										
												</div>
												</div>
									
											
											<div class="btn-wishlist" data-title="Wishlist">
												<button class="product-btn">Add to wishlist</button>
											</div>
											
										</div>
										</form>
										<div class="product-meta">
@*											<span class="sku-wrapper">SKU: <span class="sku">D2300-3-2-2</span></span>
*@											<span class="posted-in">Category: <a href="shop-grid-left.html" rel="tag">@Model.Product.Category.Name</a></span>
											<span class="posted-in">Material: <a href="shop-grid-left.html" rel="tag">@Model.Product.Material.Name</a></span>
											<span class="tagged-as">Tags: <a href="shop-grid-left.html" rel="tag">
													@for (int i = 0; i < Model.Product.Tags.Count(); i++)
													{
														if (i == Model.Product.Tags.Count()-1)
														{
															<span>@Model.Product.Tags[i].Tag.Name </span>
														}

														else
														{
															<span>@Model.Product.Tags[i].Tag.Name ,</span>

														}

													}
												</a> <a href="shop-grid-left.html" rel="tag">
												
											</a></span>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="product-tabs">
						<div class="section-padding">
							<div class="section-container p-l-r">
								<div class="product-tabs-wrap">
									<ul class="nav nav-tabs" role="tablist">
										<li class="nav-item">
											<a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
										</li>
										
										<li class="nav-item">
											<a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews (1)</a>
										</li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane fade show active" id="description" role="tabpanel">
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
											<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
										</div>
										<div class="tab-pane fade" id="reviews" role="tabpanel">
											<div id="reviews" class="product-reviews">
												<div id="comments">
													<h2 class="reviews-title">1 review for <span>@Model.Product.Name</span></h2>
													<ol class="comment-list">
														@foreach (var comment in Model.Product.Comments.Where(x => x.ProductId == Model.Product.Id))
														{
															<li class="review">
																<div class="content-comment-container">
																	<div class="comment-container">
																		@*																	<img src="media/user.jpg" class="avatar" height="60" width="60" alt="">
																	*@																	<div class="comment-text">
																			<div class=rating small">
																				<div class="star star-@comment.Rate"></div>
																			</div>
																			<div class="review-author">@comment.AppUser.FullName</div>
																			<div class="review-time">@comment.CreatedAt</div>
																		</div>
																	</div>
																	<div style="margin-left:15px" class="description">
																		<p>@comment.CommentText</p>
																	</div>
																</div>
															</li>
														}


													</ol>
												</div>
												<div id="review-form">
													<div id="respond" class="comment-respond">
														<span id="reply-title" class="comment-reply-title">Add a review</span>
														<form method="post" id="comment-form" class="comment-form" style="display:block!important">

															<div class="rate" style="margin-bottom:20px;">
																<input type="radio" id="star5" name="rate" value="5" />
																<label for="star5" title="text">5 stars</label>
																<input type="radio" id="star4" name="rate" value="4" />
																<label for="star4" title="text">4 stars</label>
																<input type="radio" id="star3" name="rate" value="3" />
																<label for="star3" title="text">3 stars</label>
																<input type="radio" id="star2" name="rate" value="2" />
																<label for="star2" title="text">2 stars</label>
																<input type="radio" id="star1" name="rate" value="1" />
																<label for="star1" title="text">1 star</label>
															</div>

															<p class="comment-form-comment">
																<textarea id="comment" placeholder="Your Reviews *" cols="25" rows="4" aria-required="true" required=""></textarea>
															</p>
															<div class="content-info-reviews">


																<p class="form-submit">
																	<input name="submit" type="submit" id="submit" class="submit" value="Submit">
																</p>
															</div>
														</form><!-- #respond -->
													</div>
												</div>
												<div class="clear"></div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="product-related">
						<div class="section-padding">
							<div class="section-container p-l-r">
								<div class="block block-products slider">
									<div class="block-title"><h2>Related Products</h2></div>
									<div class="block-content">
										<div class="content-product-list slick-wrap">
											<div class="slick-sliders products-list grid" data-slidestoscroll="true" data-dots="false" data-nav="1" data-columns4="1" data-columns3="2" data-columns2="3" data-columns1="3" data-columns1440="4" data-columns="4">
												@foreach (var item in Model.RelatedProducts)
												{
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																	
																	</div>
																	<div class="product-thumb-hover">
																		<a asp-action="detail" asp-controller="product" asp-route-id="@item.Id">
																			<img width="600" height="600" src="~/uploads/products/@item.Images.FirstOrDefault(x=>x.Status==Furniture.Enums.ImageStatus.Main).ImageUrl" class="post-image" alt="">
																			<img width="600" height="600" src="~/uploads/products/@item.Images.FirstOrDefault(x=>x.Status==Furniture.Enums.ImageStatus.Hover).ImageUrl" class="hover-image back" alt="">
																		</a>
																	</div>
																	<div class="product-button">
																		<div class="btn-add-to-cart" data-title="Add to cart">
																		<a class="product-btn add-basket" asp-action="addtobasket" asp-controller="product" asp-route-id="@item.Id"> </a>
																		</div>
																		<div class="btn-wishlist" data-title="Wishlist">
																			<button class="product-btn">Add to wishlist</button>
																		</div>

																		<span class="product-quickview" data-title="Quick View">
																			<a asp-controller="product" asp-action="modaldetail" asp-route-id="@item.Id" class="@*modal-btn-quick*@ @*quickview*@ quickview-button">Quick View <i class="icon-search"></i></a>
																		</span>
																	</div>
																</div>
																<div class="products-content">
																	<div class="contents text-center">
																		<h3 class="product-title"><a asp-controller="product" asp-action="detail" asp-route-id="@item.Id">@item.Name</a></h3>
																		@if (item.DiscountPercent > 0)
																		{
																			<span class="price">
																				<del aria-hidden="true"><span>@item.SalePrice.ToString("0.00") $</span></del>
																				<ins><span>@((item.SalePrice - ((item.SalePrice * item.DiscountPercent) / 100)).ToString("0.00"))$</span></ins>
																			</span>
																		}
																		else
																		{
																			<span class="price">@item.SalePrice.ToString("0.00") $</span>

																		}

																	</div>
																</div>
															</div>
														</div>
													</div>

												}
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- #content -->
		</div><!-- #primary -->
	</div><!-- #main-content -->
</div>

@section Detail{
	
	
	<script src="~/libs/countdown/js/jquery.countdown.min.js"></script>
	<script src="~/libs/slider/js/tmpl.js"></script>
	<script src="~/libs/slider/js/jquery.dependClass-0.1.js"></script>
	<script src="~/libs/slider/js/draggable-0.1.js"></script>
	<script src="~/libs/slider/js/jquery.slider.js"></script>
	<script src="~/libs/elevatezoom/js/jquery.elevatezoom.js"></script>

}