@model ShopViewModel


<div id="site-main" class="site-main">
	<div id="main-content" class="main-content">
		<div id="primary" class="content-area">
			<div id="title" class="page-title">
				<div class="section-container">
					<div class="content-title-heading">
						<h1 class="text-title-heading">
							SHOP
						</h1>
					</div>
					
				</div>
			</div>

			<div id="content" class="site-content" role="main">
				<div class="section-padding">
					<div class="section-container p-l-r">
						<div class="row">
							<div class="col-xl-3 col-lg-3 col-md-12 col-12 sidebar left-sidebar md-b-50">
								<!-- Block Product Categories -->
								<form asp-action="index" id="shop-form" method="get">
								<div class="block block-product-cats">
									<div class="block-title"><h2>Categories</h2></div>
									<div class="block-content">
										<div class="product-cats-list">
											<ul>
											@for (int i = 0; i < Model.Categories.Count; i++)
												{
													<li style="height:35px;">
															<input form="shop-form" value="@Model.Categories[i].Id" @(ViewBag.CategoryId == Model.Categories[i].Id ? "checked" : "") name="categoryid" type="radio" class="custom-radio " id="myCheckbox@(i)" style="visibility:hidden;">
														
														<div class="d-flex justify-content-between">
															
																<label class="label-for @(ViewBag.CategoryId == Model.Categories[i].Id ? "checked" : "")" for="myCheckbox@(i)" style="cursor:pointer">@Model.Categories[i].Name</label>
															<span class="count">@Model.Categories[i].Products.Count()</span>
														</div>
													</li>
												}
												
										
											</ul>
										</div>
									</div>
								</div>
								@*Material Filter*@
									<div class="block block-product-cats">
										<div class="block-title"><h2>Materials</h2></div>
										<div class="block-content">
											<div class="product-cats-list">
												<ul>
													@for (int i = 0; i < Model.Materials.Count; i++)
													{
														<li style="height:35px;">
															<input form="shop-form" name="materialid" @(ViewBag.MaterialId == Model.Materials[i].Id ? "checked" : "") value="@Model.Materials[i].Id" type="radio" class="custom-radio " id="myMaterial@(i)" style="visibility:hidden;">

															<div class="d-flex justify-content-between">

																<label class="label-material @(ViewBag.MaterialId == Model.Materials[i].Id ? "checked" : "")" for="myMaterial@(i)" style="cursor:pointer">@Model.Materials[i].Name</label>
																<span class="count">@Model.Materials[i].Products.Count()</span>
															</div>
														</li>
													}


												</ul>
											</div>
										</div>
									</div>
									
									<div class="block block-product-cats">
										<div class="block-title"><h2>Tags</h2></div>
										<div class="block-content">
											<div class="product-cats-list">
												<ul>
													@for (int i = 0; i < Model.Tags.Count; i++)
													{
														<li style="height:35px;">
															<input form="shop-form" name="tags" value="@Model.Tags[i].Id" type="checkbox" @(ViewBag.Tags.Contains(Model.Tags[i].Id) ? "checked" : "") id="myTags@(i)" style="visibility:hidden;">

															<div class="d-flex justify-content-between">

																<label class="label-tags @(ViewBag.Tags.Contains(Model.Tags[i].Id) ? "checked" : "")" for="myTags@(i)" style="cursor:pointer">@Model.Tags[i].Name</label>
																
															</div>
														</li>
													}


												</ul>
											</div>
										</div>
									</div>

								<!-- Block Product Filter -->
							<div class="block block-product-filter">
									<div class="block-title"><h2>Price</h2></div>
									<div class="block-content">
									
										<input 
											value=""

											data-min="@ViewBag.MinLimit"
											data-max="@ViewBag.MaxLimit"
											data-from="@ViewBag.MinPrice"
											data-to="@ViewBag.MaxPrice"
											data-skin="square"
											type="text"
											id="myRange" />
											<input value="@ViewBag.MinPrice" name="minprice"  type="hidden" id="minPrice">
											<input value="@ViewBag.MaxPrice" name="maxprice"  type="hidden" id="maxPrice">

										
									</div>
								</div>
								</form>
						

							
								<!-- Block Product Filter -->
								<div class="block block-product-filter clearfix">
									<div class="block-title"><h2>Brands</h2></div>
									<div class="block-content">
										<ul class="filter-items image">
											@for (int i = 0; i < Model.Brands.Count; i++)
											{

												<li >
													<input form="shop-form" @(ViewBag.BrandId==Model.Brands[i].Id?"checked":"") value="@Model.Brands[i].Id" name="brandid" type="radio" class="" id="myBrand@(i)" style="visibility:hidden;">
													<label class="label-brand" for="myBrand@(i)"><span class="@(ViewBag.BrandId==Model.Brands[i].Id?"brand-color":"")"><img src="~/uploads/brands/@Model.Brands[i].Image" style="cursor:pointer"  alt="Brand"></span></label>
												</li>

												
													
											}
											
											
										</ul>
									</div>
								</div>
								<div class="block block-product-filter clearfix"  style="margin-bottom:30px;">
									
									<div class="block-content d-flex justify-content-center">
									
									<button type="submit" form="shop-form" class="filter-btn">Filter</button>
										<a asp-action="index"  class="reset-btn">Reset</a>
									</div>
								</div>


							</div>

							<div class="col-xl-9 col-lg-9 col-md-12 col-12">
								<div class="products-topbar clearfix">
									<div class="products-topbar-left">
										<div class="products-count">
											Showing all @Model.PaginatedList.Items.Count() results
										</div>
									</div>
									<div class="products-topbar-right">
										<div class="products-sort dropdown">
											<select style="padding:0;padding-left:7px;" onchange="this.form.submit()" asp-items="@ViewBag.SortList" form="shop-form" name="sort" class=" nice-select">
											</select>
										
										</div>
										<ul class="layout-toggle nav nav-tabs">
											<li class="nav-item">
												<a class="layout-grid nav-link" data-toggle="tab" href="#layout-grid" role="tab"><span class="icon-column"><span class="layer first"><span></span><span></span><span></span></span><span class="layer middle"><span></span><span></span><span></span></span><span class="layer last"><span></span><span></span><span></span></span></span></a>
											</li>
											<li class="nav-item">
												<a class="layout-list nav-link active" data-toggle="tab" href="#layout-list" role="tab"><span class="icon-column"><span class="layer first"><span></span><span></span></span><span class="layer middle"><span></span><span></span></span><span class="layer last"><span></span><span></span></span></span></a>
											</li>
										</ul>
									</div>
								</div>

								<div class="tab-content">
									<div class="tab-pane fade" id="layout-grid" role="tabpanel">
										<div class="products-list grid">
											<div class="row">
												@foreach (var product in Model.PaginatedList.Items)
												{
													<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
														<div class="products-entry clearfix product-wapper">
															<div class="products-thumb">
																<div class="product-thumb-hover">
																	<a asp-controller="product" asp-action="detail" asp-route-id="@product.Id">
																		<img src="~/uploads/products/@product.Images.FirstOrDefault(x=>x.Status==Furniture.Enums.ImageStatus.Main).ImageUrl" class="post-image" alt="">
																		<img width="600px" height="600px" src="~/uploads/products/@product.Images.FirstOrDefault(x=>x.Status==Furniture.Enums.ImageStatus.Hover).ImageUrl" class="hover-image back" alt="">
																	</a>
																</div>
																<div class="product-button">
																	<div class="btn-wishlist" data-title="Wishlist">
																		<button class="product-btn  wish-btn" data-fetch="/product/addtowishlist/@product.Id" tabindex="0">Add to wishlist</button>
																	</div>
																	<div class="btn-add-to-cart" data-title="Add to cart">
																		<button style="cursor:pointer" class="product-btn add-basket" data-fetch="/product/addtobasket/@product.Id" tabindex="0"></button>
																	</div>
																	<span class="product-quickview" data-title="Quick View">
																		<a asp-controller="product" asp-action="modaldetail" asp-route-id="@product.Id" class=" quickview-button" tabindex="0">Quick View <i class="icon-search"></i></a>
																	</span>
																</div>
															</div>
															<div class="products-content">
																<div class="contents text-center">
																	<h3 class="product-title"><a asp-controller="product" asp-action="detail" asp-route-id="@product.Id">@product.Name</a></h3>
																	@if (product.DiscountPercent > 0)
																	{
																		<span class="price">
																			<del aria-hidden="true"><span>@product.SalePrice.ToString("0.00") $</span></del>
																			<ins><span>@((@product.SalePrice - ((@product.SalePrice * @product.DiscountPercent) / 100)).ToString("0.00"))$</span></ins>
																		</span>
																	}
																	else
																	{
																		<span class="price">@product.SalePrice.ToString("0.00") $</span>

																	}

																</div>
															</div>
														</div>
													</div>
												}
												
											
											
											</div>
										</div>
									</div>
									<div class="tab-pane fade show active" id="layout-list" role="tabpanel">
										<div class="products-list list">
										
											@foreach (var product in Model.PaginatedList.Items)
											{
												<div class="products-entry clearfix product-wapper">
													<div class="row">
														<div class="col-md-4">
															<div class="products-thumb">

																<div class="product-thumb-hover">
																	<a asp-controller="product" asp-action="detail" asp-route-id="@product.Id">
																		<img src="~/uploads/products/@product.Images.FirstOrDefault(x=>x.Status==Furniture.Enums.ImageStatus.Main).ImageUrl" class="post-image" alt="">
																		<img width="600px" height="600px" src="~/uploads/products/@product.Images.FirstOrDefault(x=>x.Status==Furniture.Enums.ImageStatus.Hover).ImageUrl" class="hover-image back" alt="">
																	</a>
																</div>
																<span class="product-quickview" data-title="Quick View">
																	<a asp-controller="product" asp-action="modaldetail" asp-route-id="@product.Id" class="@*modal-btn-quick*@ @*quickview*@ quickview-button">Quick View <i class="icon-search"></i></a>
																</span>
															</div>
														</div>
														<div class="col-md-8">
															<div class="products-content">
																<h3 class="product-title"><a asp-action="detail" asp-controller="product" asp-route-id="@product.Id">@product.Name</a></h3>
																@if (product.DiscountPercent > 0)
																{
																	<span class="price">
																		<del aria-hidden="true"><span>@product.SalePrice.ToString("0.00") $</span></del>
																		<ins><span>@((@product.SalePrice - ((@product.SalePrice * @product.DiscountPercent) / 100)).ToString("0.00"))$</span></ins>
																	</span>
																}
																else
																{
																	<span class="price">@product.SalePrice.ToString("0.00") $</span>

																}
																<div class="rating">
																	<div class="star star-@product.Rate"></div>
																	<div class="review-count">
																		(@product.Comments.Count()<span> review</span>)
																	</div>
																</div>
																<div class="product-button">
																	
																		<div class="btn-wishlist" data-title="Wishlist">
																			<button class="product-btn  wish-btn" data-fetch="/product/addtowishlist/@product.Id" tabindex="0">Add to wishlist</button>
																		</div>
																		<div class="btn-add-to-cart" data-title="Add to cart">
																			<button style="cursor:pointer" class="product-btn add-basket" data-fetch="/product/addtobasket/@product.Id" tabindex="0">Add to basket</button>
																		</div>
																		
																	

																	
																</div>
																<div class="product-description">@product.Description</div>
															</div>
														</div>
													</div>
												</div>
											}
										</div>
									</div>
									
									
								</div>
								@if (Model.PaginatedList.TotalPage>1)
								{
									<nav class="pagination">
										<ul class="page-numbers">
											<li class="@(Model.PaginatedList.HasPrevious == false ? "d-none" : "")"><a class="prev page-numbers" asp-action="index" asp-route-page="@(Model.PaginatedList.PageIndex-1)" asp-route-sort="@ViewBag.Sort" asp-route-categoryid="@ViewBag.CategoryId" asp-route-materialid="@ViewBag.MaterialId" asp-route-tags="@ViewBag.Tags" asp-route-minprice="@ViewBag.MinPrice" asp-route-maxprice="@ViewBag.MaxPrice" asp-route-brand="@ViewBag.BrandId">Previous</a></li>
											@for (int i = 1; i <= Model.PaginatedList.TotalPage; i++)
											{
												<li style="@(Model.PaginatedList.PageIndex==i?"background-color:black":"")"><a class=" page-numbers" asp-action="index" asp-route-page="@i" asp-route-sort="@ViewBag.Sort" asp-route-categoryid="@ViewBag.CategoryId" asp-route-materialid="@ViewBag.MaterialId" asp-route-tags="@ViewBag.Tags" asp-route-minprice="@ViewBag.MinPrice" asp-route-maxprice="@ViewBag.MaxPrice" asp-route-brand="@ViewBag.BrandId">@i</a></li>
											}
											<li class="@(Model.PaginatedList.HasNext==true?"":"d-none")"><a class="next  page-numbers" asp-action="index" asp-route-page="@(Model.PaginatedList.PageIndex+1)" asp-route-sort="@ViewBag.Sort" asp-route-categoryid="@ViewBag.CategoryId" asp-route-materialid="@ViewBag.MaterialId" asp-route-tags="@ViewBag.Tags" asp-route-minprice="@ViewBag.MinPrice" asp-route-maxprice="@ViewBag.MaxPrice" asp-route-brand="@ViewBag.BrandId">Next</a></li>

										</ul>
									</nav>
								}
							
							</div>
						</div>
					</div>
				</div>
			</div><!-- #content -->
		</div><!-- #primary -->
	</div><!-- #main-content -->
</div>

										@section Shop{
											<script src="~/assets/js/Shop.js"></script>
	                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
	                                        <script src="libs/slider/js/tmpl.js"></script>
	                                        <script src="libs/slider/js/jquery.dependClass-0.1.js"></script>
	                                        <script src="libs/slider/js/draggable-0.1.js"></script>
	                                        <script src="libs/slider/js/jquery.slider.js"></script>


										}