@using Furniture.Services
@inject LayoutService _layoutService;
@{
	var basket = _layoutService.GetBasket();
}


<!DOCTYPE html>
<html lang="en">
	
<head>
		<!-- Meta Data -->
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Home Stylish | Ruper</title>
		
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="media/favicon.png">
		
		<!-- Dependency Styles -->
		<link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="~/libs/feather-font/css/iconfont.css" type="text/css">
		<link rel="stylesheet" href="~/libs/icomoon-font/css/icomoon.css" type="text/css">
		<link rel="stylesheet" href="~/libs/font-awesome/css/font-awesome.css" type="text/css">
		<link rel="stylesheet" href="~/libs/wpbingofont/css/wpbingofont.css" type="text/css">
		<link rel="stylesheet" href="~/libs/elegant-icons/css/elegant.css" type="text/css">
		<link rel="stylesheet" href="~/libs/slick/css/slick.css" type="text/css">
		<link rel="stylesheet" href="~/libs/slick/css/slick-theme.css" type="text/css">
		<link rel="stylesheet" href="~/libs/mmenu/css/mmenu.min.css" type="text/css">
	    <link rel="stylesheet" href="~/assets/css/custom.css" type="text/css">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" />





	<link rel="stylesheet" href="~/libs/slider/css/jslider.css">



		<!-- Site Stylesheet -->
		<link rel="stylesheet" href="~/assets/css/app.css" type="text/css">
		<link rel="stylesheet" href="~/assets/css/responsive.css" type="text/css">
		
		<!-- Google Web Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&amp;display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=EB+Garamond:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap" rel="stylesheet">
	</head>
	
	<body class="home home-7 title-7">
		<div id="page" class="hfeed page-wrapper">
			<header id="site-header" class="site-header header-v3">
				<div class="header-mobile">
					<div class="section-padding">
						<div class="section-container large">
							<div class="row">
								<div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 header-left">
									<div class="navbar-header">
										<button type="button" id="show-megamenu" class="navbar-toggle"></button>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 header-center">
									<div class="site-logo">
										<a asp-action="index" asp-controller="home">
											@*<img width="400" height="79" src="~/media/logo.png" alt="Ruper – Furniture HTML Theme" />*@
											<h5>HOME</h5>
										</a>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 header-right">
									<div class="ruper-topcart dropdown">
										<div class="dropdown mini-cart top-cart">
											<div class="remove-cart-shadow"></div>
											<a class="dropdown-toggle cart-icon" @*href="#"*@ role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<div class="icons-cart"><i class="icon-large-paper-bag"></i><span class="cart-count">@basket.TotalCount</span></div>
											</a>
											<div class="dropdown-menu cart-popup basket-view" >
												@Html.Partial("_BasketPartialView",basket)
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="header-mobile-fixed">
						<!-- Shop -->
						<div class="shop-page">
							<a asp-action="index" asp-controller="shop"><i class="wpb-icon-shop"></i></a>
						</div>

						<!-- Login -->
						<div class="my-account">
							<div class="login-header">
							@if (User.Identity.IsAuthenticated && User.IsInRole("Member"))
							{
								<a asp-action="profile" asp-controller="account"><i class="wpb-icon-user"></i></a>

							}
							else
							{
								<a asp-action="login" asp-controller="account"><i class="wpb-icon-user"></i></a>

							}
							</div>
						</div>

						

						<!-- Wishlist -->
						<div class="wishlist-box">
							<a asp-action="index" asp-controller="wishlist"><i class="wpb-icon-heart"></i></a>
						</div>
					</div>
				</div>

				<div class="header-desktop">
					<div class="header-wrapper">
						<div class="section-padding">
							<div class="section-container large">
								<div class="row">
									<div class="col-lg-8 header-left">
										<div class="site-logo">
											<a href="index7.html">

                                                  <h5>MY-HOME</h5>
                                               </a>
										</div>
										
										<div class="site-navigation">
											<nav id="main-navigation">
												<ul id="menu-main-menu" class="menu">
													<li class="level-0 menu-item menu-item-has-children mega-menu current-menu-item">
														<a asp-action="index" asp-controller="home"><span class="menu-item-text">Home</span></a>
														
													</li>
													<li class="level-0 menu-item menu-item-has-children">
														<a asp-action="index" asp-controller="shop"><span class="menu-item-text">Shop</span></a>
														
													</li>
													@*<li class="level-0 menu-item menu-item-has-children mega-menu mega-menu-fullwidth align-center">
														<a href="blog-grid-left.html"><span class="menu-item-text">Blog</span></a>
														
													</li>*@
													@*<li class="level-0 menu-item menu-item-has-children">
														<a href="#"><span class="menu-item-text">Pages</span></a>
														
													</li>*@
													<li class="level-0 menu-item">
														<a asp-action="index" asp-controller="contact"><span class="menu-item-text">Contact</span></a>
													</li>
												</ul>
											</nav>
										</div>
									</div>

									<div class="col-lg-4 header-right">
										<div class="header-page-link">
											<!-- Login -->
											<div class="">
											@if (User.Identity.IsAuthenticated && User.IsInRole("Member"))
											{
												<a style="letter-spacing:2px;font-size:15px;" asp-action="profile" asp-controller="account">@User.Identity.Name</a>

											}
											else
											{
												<a style="letter-spacing:2px;font-size:15px;" asp-action="login" asp-controller="account">Login</a>

											}

											</div>

											
											
											
											<!-- Wishlist -->
										@if (User.IsInRole("Member") && User.Identity.IsAuthenticated)
										{
											<div class="wishlist-box">
												<a asp-action="index" asp-controller="wishlist"><i class="icon-heart"></i></a>
												<span class="count-wishlist">@basket.WishlistCount</span>
											</div>
										}
										
											
											<!-- Cart -->
											<div class="ruper-topcart dropdown light">
												<div class="dropdown mini-cart top-cart">
													<div class="remove-cart-shadow"></div>
													<a class="dropdown-toggle cart-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<div class="icons-cart"><i class="icon-large-paper-bag"></i><span class="cart-count">@basket.TotalCount</span></div>
													</a>
													<div class="dropdown-menu cart-popup basket-view" >
													@Html.Partial("_BasketPartialView",basket)
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			@RenderBody()

			<footer id="site-footer" class="site-footer three-columns">
				<div class="footer">
					<div class="section-padding">
						<div class="section-container">
							<div class="block-widget-wrap">
								<div class="row">
									<div class="col-lg-4 column-left">
										<div class="column-wrap">
											<div class="row">
												<div class="col-lg-6 md-b-20">
													<div class="block block-menu m-b-20">
														<h2 class="block-title">Contact Us</h2>
														<div class="block-content">
															<ul>
																<li>
																	<a href="page-contact.html">616.774.0561</a>
																</li>
																<li>
																	<a href="page-contact.html">866.453.4748</a>
																</li>
																<li>
																	<a href="page-contact.html">HR Fax: 810.222.5439</a>
																</li>
																<li>
																	<a href="page-contact.html">sales@ruperfurniture.com</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="block block-menu">
														<h2 class="block-title">Services</h2>
														<div class="block-content">
															<ul>
																<li>
																	<a href="page-about.html">Sale</a>
																</li>
																<li>
																	<a href="page-about.html">Quick Ship</a>
																</li>
																<li>
																	<a href="page-about.html">New Designs</a>
																</li>
																<li>
																	<a href="page-about.html">Accidental Fabric Protection</a>
																</li>
																<li>
																	<a href="page-about.html">Furniture Care</a>
																</li>
																<li>
																	<a href="page-about.html">Gift Cards</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 column-center">
										<div class="column-wrap">
											<div class="block block-image m-b-20">
												<img width="100" src="~/media/logo.png" alt="">
											</div>
											<div class="block block-social">
												<ul class="social-link">
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-instagram"></i></a></li>
													<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
													<li><a href="#"><i class="fa fa-behance"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-4 column-right">
										<div class="column-wrap">
											<div class="block block-newsletter">
												<h2 class="block-title">Newsletter</h2>
												<div class="block-content">
													<div class="newsletter-text">Enter your email below to be the first to know about new collections and product launches.</div>
													<form action="#" method="post" class="newsletter-form">
														<input type="email" name="your-email" value="" size="40" placeholder="Email address">
														<span class="btn-submit">
															<input type="submit" value="Subscribe">
														</span>
													</form>
												</div>
											</div>
											<div class="block block-image">
												<img width="309" height="32" src="~/media/payments.png" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="section-padding">
						<div class="section-container">
							<div class="block-widget-wrap">
								<p class="copyright text-center">Copyright © 2022. All Right Reserved</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<!-- Back Top button -->
		<div class="back-top button-show">
			<i class="arrow_carrot-up"></i>
		</div>

		<!-- Search -->
		<div class="search-overlay">
			<div class="close-search"></div>
			<div class="wrapper-search">
				<form role="search" method="get" class="search-from ajax-search" action="#">
					<div class="search-box">
						<button id="searchsubmit" class="btn" type="submit">
							<i class="icon-search"></i>
						</button>
						<input id="myInput" type="text" autocomplete="off" value="" name="s" class="input-search s" placeholder="Search...">
						<div class="search-top">
							<div class="close-search">Cancel</div>
						</div>
						<div class="content-menu_search">
							<label>Suggested</label>
							<ul id="menu_search" class="menu">
								<li><a href="#">Furniture</a></li>
								<li><a href="#">Home Décor</a></li>
								<li><a href="#">Industrial</a></li>
								<li><a href="#">Kitchen</a></li>
							</ul>			
						</div>
					</div>
				</form>	
			</div>	
		</div>

		<!-- Wishlist -->
		<div class="wishlist-popup">
			<div class="wishlist-popup-inner">
                <div class="wishlist-popup-content">
                    <div class="wishlist-popup-content-top">
                        <span class="wishlist-name">Wishlist</span>
						<span class="wishlist-count-wrapper"><span class="wishlist-count">2</span></span>                                
						<span class="wishlist-popup-close"></span>
                    </div>
                    <div class="wishlist-popup-content-mid">
						<table class="wishlist-items">                        
							<tbody>
								<tr class="wishlist-item">
									<td class="wishlist-item-remove"><span></span></td>
									<td class="wishlist-item-image">
                                    	<a href="shop-details.html">
											<img width="600" height="600" src="~/media/product/3.jpg" alt="">                                        
										</a>
		                       		</td>
			                        <td class="wishlist-item-info">
										<div class="wishlist-item-name">
											<a href="shop-details.html">Chair Oak Matt Lacquered</a>
										</div>
										<div class="wishlist-item-price">
											<span>$150.00</span>
										</div>
										<div class="wishlist-item-time">June 4, 2022</div>                                
									</td>
			                        <td class="wishlist-item-actions">
			                            <div class="wishlist-item-stock">
											In stock 
										</div>
			                            <div class="wishlist-item-add">
											<div data-title="Add to cart">
												<a rel="nofollow" href="#" class="button">Add to cart</a>
											</div>
										</div>
	                                </td>
								</tr>
								<tr class="wishlist-item">
									<td class="wishlist-item-remove"><span></span></td>
									<td class="wishlist-item-image">
                                    	<a href="shop-details.html">
											<img width="600" height="600" src="~/media/product/4.jpg" alt="">                                        
										</a>
		                       		</td>
			                        <td class="wishlist-item-info">
										<div class="wishlist-item-name">
											<a href="shop-details.html">Pillar Dining Table Round</a>
										</div>
										<div class="wishlist-item-price">
											<del aria-hidden="true"><span>$150.00</span></del> 
											<ins><span>$100.00</span></ins>
										</div>
										<div class="wishlist-item-time">June 4, 2022</div>                                
									</td>
			                        <td class="wishlist-item-actions">
			                            <div class="wishlist-item-stock">
											In stock 
										</div>
			                            <div class="wishlist-item-add">
											<div data-title="Add to cart">
												<a rel="nofollow" href="#" class="button">Add to cart</a>
											</div>
										</div>
	                                </td>
								</tr>
							</tbody>
						</table>
					</div>
                    <div class="wishlist-popup-content-bot">
                        <div class="wishlist-popup-content-bot-inner">
                            <a class="wishlist-page" href="shop-wishlist.html">
								Open wishlist page                                    
							</a>
                            <span class="wishlist-continue" data-url="">
                                Continue shopping                                        
                            </span>
                        </div>
                        <div class="wishlist-notice wishlist-notice-show">Added to the wishlist!</div>
                    </div>
                </div>
            </div>
		</div>

		<!-- Compare -->
		<div class="compare-popup">
		    <div class="compare-popup-inner">
		        <div class="compare-table">
		            <div class="compare-table-inner">
                    	<a href="#" id="compare-table-close" class="compare-table-close">
                    		<span class="compare-table-close-icon"></span>
                    	</a>
                    	<div class="compare-table-items">
                    		<table id="product-table" class="product-table">
                    			<thead>
                    				<tr>
                    					<th>
                    						<a href="#" class="compare-table-settings">Settings</a>
                    					</th>
                    					<th>
                    						<a href="shop-details.html">Chair Oak Matt Lacquered</a> <span class="remove">remove</span>
                    					</th>
                    					<th>
                    						<a href="shop-details.html">Zunkel Schwarz</a> <span class="remove">remove</span>
                    					</th>
                    					<th>
                    						<a href="shop-details.html">Namaste Vase</a> <span class="remove">remove</span>
                    					</th>
                    				</tr>
                    			</thead>
                    			<tbody>
                    				<tr class="tr-image">
                    					<td class="td-label">Image</td>
                    					<td>
                    						<a href="shop-details.html">
                    							<img width="600" height="600" src="~/media/product/3.jpg" alt="">
                    						</a>
                    					</td>
                    					<td>
                    						<a href="shop-details.html">
                    							<img width="600" height="600" src="~/media/product/1.jpg" alt="">
                    						</a>
                    					</td>
                    					<td>
                    						<a href="shop-details.html">
                    							<img width="600" height="600" src="~/media/product/2.jpg" alt="">
                    						</a>
                    					</td>
                    				</tr>
                    				<tr class="tr-sku">
                    					<td class="td-label">SKU</td>
                    					<td>VN00189</td>
                    					<td></td>
                    					<td>D1116</td>
                    				</tr>
                    				<tr class="tr-rating">
                    					<td class="td-label">Rating</td>
                    					<td>
                    						<div class="star-rating">
                    							<span style="width:80%"></span>
                    						</div>
                    					</td>
                    					<td>
                    						<div class="star-rating">
                    							<span style="width:100%"></span>
                    						</div>
                    					</td>
                    					<td></td>
                    				</tr>
                    				<tr class="tr-price">
                    					<td class="td-label">Price</td>
                    					<td><span class="amount">$150.00</span></td>
                    					<td><del><span class="amount">$150.00</span></del> <ins><span class="amount">$100.00</span></ins></td>
                    					<td><span class="amount">$200.00</span></td>
                    				</tr>
                    				<tr class="tr-add-to-cart">
                    					<td class="td-label">Add to cart</td>
                    					<td>
                    						<div data-title="Add to cart">
                    							<a href="#" class="button">Add to cart</a>
                    						</div>
                    					</td>
                    					<td>
                    						<div data-title="Add to cart">
                    							<a href="#" class="button">Add to cart</a>
                    						</div>
                    					</td>
                    					<td>
                    						<div data-title="Add to cart">
                    							<a href="#" class="button">Add to cart</a>
                    						</div>
                    					</td>
                    				</tr>
                    				<tr class="tr-description">
                    					<td class="td-label">Description</td>
                    					<td>Phasellus sed volutpat orci. Fusce eget lore mauris vehicula elementum gravida nec dui. Aenean aliquam varius ipsum, non ultricies tellus sodales eu. Donec dignissim viverra nunc, ut aliquet magna posuere eget.</td>
                    					<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</td>
                    					<td>The EcoSmart Fleece Hoodie full-zip hooded jacket provides medium weight fleece comfort all year around. Feel better in this sweatshirt because Hanes keeps plastic bottles of landfills by using recycled polyester.7.8 ounce fleece sweatshirt made with up to 5 percent polyester created from recycled plastic.</td>
                    				</tr>
                    				<tr class="tr-content">
                    					<td class="td-label">Content</td>
                    					<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</td>
                    					<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</td>
                    					<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</td>
                    				</tr>
                    				<tr class="tr-dimensions">
                    					<td class="td-label">Dimensions</td>
                    					<td>N/A</td>
                    					<td>N/A</td>
                    					<td>N/A</td>
                    				</tr>
                    			</tbody>
                    		</table>
                    	</div>
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Quickview -->


	<div id="quick-quick">

	</div>
	

		<!-- Page Loader -->
		<div class="page-preloader">
	    	<div class="loader">
	    		<div></div>
	    		<div></div>
	    	</div>
	    </div>
		@RenderBody()
		<!-- Dependency Scripts -->
@*		<script src="~/libs/jquery/js/jquery.min.js"></script>
*@	
@*	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
*@	<script src="~/libs/popper/js/popper.min.js"></script>
	
    <script src="~/assets/js/jquery-3-6-0.js"></script>
	<script src="~/libs/slick/js/slick.min.js"></script>
	<script src="~/libs/countdown/js/jquery.countdown.min.js"></script>
	<script src="~/libs/mmenu/js/jquery.mmenu.all.min.js"></script>
	<script src="~/libs/bootstrap/js/bootstrap.min.js"></script>


@*	SHOP*@


	<script src="libs/slider/js/tmpl.js"></script>
	<script src="libs/slider/js/jquery.dependClass-0.1.js"></script>
	<script src="libs/slider/js/draggable-0.1.js"></script>
	<script src="libs/slider/js/jquery.slider.js"></script>
	@RenderSection("Shop",required:false )
	
	

		
		<!-- Site Scripts -->

	<script src="~/assets/js/custom.js"></script>


     <script src="~/assets/js/app.js"></script>


	
		@RenderSection("Detail",required:false)
		@RenderSection("Validation",required:false)
		
	 



	</body>

</html>