@model PaginatedList<Product>


<form asp-action="index" method="get">
    <div class="d-flex justify-content-center">
        <div style="margin:30px;" class="col-md-10">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <label for="defaultFormControlInput" class="form-label">Name</label>
                            <input name="search" value="@ViewBag.Search" type="text" class="form-control" id="defaultFormControlInput" placeholder="Name" aria-describedby="defaultFormControlHelp">
                        </div>

                       
                        <div>
                            <button style="margin-top:25px;" type="submit" class="btn btn-primary">Search</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="card" style="margin:30px"x>
    <div class="d-flex justify-content-center" style="margin:20px 0px;color:white;">
        <a asp-action="create" class="btn btn-primary">Create </a>
    </div>
    <div class="table-responsive text-nowrap" style="min-height:300px;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Stock Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              
                    @foreach (var prd in  Model.Items)
                    {
                    <tr>
                        <td>@prd.Id</td>
                        <td><strong>@prd.Name</strong></td>
                        <td>@prd.Category.Name</td>
                        <td>@prd.IsStock</td>
                           
                           
                        
                       @* <td><span class="badge bg-label-primary me-1">Active</span></td>*@
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-action="Edit" asp-route-id="@prd.Id"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                    <a class="dropdown-item delete-action"  asp-action="Delete" asp-route-id="@prd.Id"><i class="bx bx-trash me-1"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    }
                   
                
              
            </tbody>
        </table>
    </div>
</div>

<nav aria-label="Page navigation" class="d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item @(Model.HasPrevious?"":"disabled")  prev">
            <a asp-action="index" asp-route-search="@ViewBag.Search"  asp-route-page="@(Model.PageIndex-1)" class="page-link"><i class="tf-icon bx bx-chevrons-left"></i></a>
        </li>
        @for (int i = 1; i <= Model.TotalPage; i++)
        {
            <li class="page-item  @(i==Model.PageIndex?"active":"")">
                <a asp-action="index" asp-route-page="@i" asp-route-search="@ViewBag.Search"  class="page-link">@i</a>
            </li>
        }


        <li class="page-item @(Model.HasNext?"":"disabled") next">
            <a asp-action="index" asp-route-search="@ViewBag.Search"  asp-route-page="@(Model.PageIndex+1)" class="page-link "><i class="tf-icon bx bx-chevrons-right"></i></a>
        </li>
    </ul>
</nav>
@section SweatAlert{
    @Html.Partial("SweatAlert")
}
